.container {
  height: auto;
  border-radius: 1rem;
  border: 1px solid #92B4F4;
  padding: 2rem;

  margin: 4rem 0rem;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #0A369D;
    padding-bottom: 2rem;
  }

  .doughnut {
    // height: 30rem;
  }
}
