<div class="container">
  <app-side-bar></app-side-bar>
  <div class="sub-container">
    <h1>Despesas totais agrupadas por Categoria</h1>
    <h4>Selecione uma categoria</h4>
    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="categorySelected" name="month" (selectionChange)="onChangeCategory()">
        <mat-option *ngFor="let info of categories" [value]="info.code">
          {{info.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-card-values [pageTitle]="pageTitle" [infoPage]="infoPage"></app-card-values>

    <app-expenses-table [pageTitle]="pageTitle" [searchParam]="searchParam"></app-expenses-table>
  </div>
</div>
