<div class="container">
  <div class="card">
    <mat-icon aria-hidden="false" fontIcon="account_balance_wallet"></mat-icon>
    <span>Valor Empenhado</span>
    <span class="title">{{pledged | currency }}</span>
  </div>
  <div class="card" id="paidOff">
    <mat-icon aria-hidden="false" fontIcon="savings"></mat-icon>
    <span>Valor Liquidado</span>
    <span class="title">{{paidOff | currency }}</span>
  </div>
  <div class="card" id="paid">
    <mat-icon aria-hidden="false" fontIcon="paid"></mat-icon>
    <span>Valor Pago</span>
    <span class="title">{{paid | currency }}</span>
  </div>
</div>
