.container {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;

  display: flex;
  flex-direction: row;

}

.sub-container {
  width: 100%;
  padding: 4rem 3rem;

  h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #0A369D;
  }
}
